:root {
  --main-gold-color: rgb(229, 96, 36);
  --main-blue-color: rgba(0, 27, 67, 1);
  --main-white-color: rgb(253, 245, 230);
  --main-font-size: 25px;
  --main-dscfont-size: 23px;
  --main-font-style: sans-serif;
}
