.back-box {
  position: relative;
  height: 1000px;
  background-image: url(/hw/images/math.jpg);
  background-size: cover;
}

.logo-box {
  position: fixed;
  top: 30px;
  left: 100px;
  width: 106px;
  height: 40px;
}

.logo-box:hover {
  color: yellow;
}

.navbar-box {
  position: fixed;
  top: 40px;
  right: 100px;
}

.link {
  color: white;
  font-size: var(--main-font-size);
  margin-right: 30px;
  font-style: var(--main-font-style);
}

.center-txt {
  line-height: 47px;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 3px;
}

.ctxt1 {
  font-size: 40px;
  color: white;
  margin-left: -60px;
}

.ss {
  line-height: 1.7;
  font-style: var(--main-font-style);
  color: #ffffff;
}

.ctxt1:hover {
  transition: all 0.5s;
  transform: scale(1.3);
}

.contain-box {
  position: absolute;
  top: 31%;
  left: 47.5%;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--main-gold-color);
  transition: 0.5s;
}

p {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mathematicians {
  position: relative;
  text-align: center;
  top: 100%;
}

.imgeuclid {
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url(/hw/images/pythagora.jpg);
  background-size: cover;
  left: 15%;
}

.imgeuclid:hover {
  transition: all 0.3s;
  box-shadow: -20px 20px 30px;
  transform: translateY(20px);
}

.imggauss {
  position: relative;
  width: 450px;
  height: 400px;
  background-image: url(/hw/images/ceva.png);
  background-size: cover;
  left: 15%;
}

.imggauss:hover {
  transition: all 0.3s;
  box-shadow: -20px 20px 30px;
  transform: translateY(20px);
}

.imggalois {
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url(/hw/images/taylor.png);
  background-size: cover;
  left: 15%;
}

.imggalois:hover {
  transition: all 0.3s;
  box-shadow: -20px 20px 30px;
  transform: translateY(20px);
}

.ddd {
  color: var(--main-gold-color);
}

.wh {
  position: absolute;
  left: 6%;
}

.wh1 {
  position: absolute;
  left: 42%;
}

.wh2 {
  position: absolute;
  left: 74%;
}

.famous {
  color: var(--main-blue-color);
}

.descr {
  position: absolute;
  left: 22%;
}

.mm {
  width: 400px;
  border-radius: 10px;
}

.gold {
  color: var(--main-gold-color);
}

.footer {
  width: 1900;
  height: 400px;
  position: relative;
  margin-top: 75%;
  background-color: var(--main-blue-color);
}

.inf {
  position: absolute;
  left: 26%;
  width: 930px;
}

.col1 {
  width: 255px;
  height: 88px;
  position: absolute;
  left: 0;
  top: 25px;
}

.quote {
  color: white;
  margin-top: 15px;
}

.icon-box {
  margin-top: 9px;
}

.txt {
  margin-left: 10px;
}

.fab {
  margin-right: 20px;
  margin-top: 10px;
}

.bb {
  color: white;
}

.lnews-hidden {
  color: #ffffff;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 0px 0px 25px;
}

.col2 {
  position: absolute;
  top: 40px;
  left: 360px;
}

.date {
  font-family: sans-serif;
  color: var(--main-gold-color);
}

.footerlink {
  color: #ffffff;
  font-family: sans-serif;
}

.footerli {
  margin: 0px 0px 15px;
  padding: 0px 0px 15px;
}

.footerlink:hover {
  color: var(--main-gold-color);
}

.col3 {
  position: absolute;
  top: 40px;
  right: 0;
}

.h3-hidden {
  color: #ffffff;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 0px 0px 25px;
}

.lin {
  color: #ffffff;
  font-family: var(--main-font-style);
}

.li {
  margin: 0px 0px 5px;
  padding: 0px 0px 15px;
}

.li:hover {
  transform: translateX(5px);
  transition: all 0.5s;
}
